<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bb.infec">

    <uses-permission android:name="android.permission.INTERNET" />




    <application
        android:name="com.bb.infec.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:theme="@style/Theme.MVVMDesign">

        <activity
            android:name="com.bb.infec.ui.demoData.UserDataActivity"
            android:exported="true"
            android:theme="@style/FullScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:exported="false"
            android:name=".base.BaseActivity"/>
      <activity android:name="com.bb.infec.ui.demoData.PostDataActivity"
          android:exported="false"/>


    </application>

</manifest>